APP_DATABASE_URL=file:./db/local.db
APP_DATABASE_AUTH_TOKEN=
APP_BETTER_AUTH_SECRET=
APP_GOOGLE_CLIENT_ID=
APP_GOOGLE_CLIENT_SECRET=
APP_FRONTEND_URL=
APP_BACKEND_URL=
PORT=5000
# Google OAuth callback URL should be: <APP_BACKEND_URL>/api/auth/callback/google
# Example: http://localhost:5000/api/auth/callback/google
